# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# Python testing / coverage
.pytest_cache/
.coverage
htmlcov/

# OS files
Thumbs.db
.DS_Store